{% extends 'base.html.twig' %}

{% block title %}Reseteo del password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="bg-light mt-2 my-4 mx-auto p-5 border w-50 col-6 offset-3">
    <h2>Resetear el password</h2>
	<p>Introduce tu email y te enviaremos un enlace para restablecer el password.</p>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="text-center my-3">
            
            <button class="btn btn-primary">Restablecer clave</button>
        </div>

        <!--<button class="btn btn-primary">Send password reset email</button>-->
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
