{% extends 'base.html.twig' %}
{% block title %}Listado de fotos{% endblock %}
{% block main %}
	{{ parent() }}
	<p>Listado de fotos en  <b>SymfoPlaces</b>.</p>
		
	{# subvista con la lista de places #}
	{% include '/includes/lista_photos.html.twig' %}
 	
 	
 	{%
 		include '/includes/paginator.html.twig' with
 			{
 				'route': 'photo_list',
 				'entidades': 'photo'
 			}
 	%}		
	{% endblock %}