{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Página no encotrada ERROR 403</h1>

    <p>
        No tiene permisos para acceder a este servicio.
         <a href="{{ path('portada') }}"> vuelve a la portada de Symfoplaces</a>.
         <img class="h-auto" alt="logo" src="{{ asset('images/template/logo.png') }}">
    </p>
{% endblock %}